@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

$backGroundColor: #b6493f;
$fontColorGeneral: #f18b82;
$fontColorHighLight: #ffffff;
$borderColor: #ffffff;

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding: 0;
  margin: 0;
  color: $fontColorGeneral;
}
a {
  color: #8f8f8f;
  transition: color 0.5s ease;
}

a:hover {
  color: white;
}

body {
  background-color: $backGroundColor;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3em;
  font-weight: 800;
  margin: 40px 0px 50px 0px;
}

.description {
  font-size: 0.5em;
}

.countDown {
  font-size: 7em;
  padding-bottom: 4px;
  margin: 35px 0 0 0;
  transition: font-color 1.5s ease-in-out;
}

.structureBox {
  display: flex;
  flex-wrap: wrap;
  border: 1px dotted $borderColor;
  width: 60%;
  max-width: 550px;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
}

.structurePanel {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  max-width: 550px;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  margin: 0 0 16px 0;
}

.extraButton {
  background: #8f8f8f4e;
  border: 1px dotted $borderColor;
  color: #cecece;
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  outline: none; /* remove the default focus outline or maybe not*/
  transition: background-color 0.4s ease-in-out;
  margin: 20px;
  border-radius: 2px;
}

.extraButton:hover {
  background: #197278;
}

input {
  margin: 5px 0 0 0;
  background: none;
  border: 1px dotted $borderColor;
  border-radius: 2px;
  color: $fontColorHighLight;
  font-size: 1em;
  padding: 4px;
  flex-grow: 1;
  box-sizing: border-box;
  outline: none; /* remove the default focus outline or maybe not*/
  flex-wrap: wrap;
}

input::placeholder {
  color: $fontColorGeneral;
}

.structureBox input:first-of-type {
  margin: 5px 5px 0 0;
  max-width: 50%;
}

.placeHolderBox {
  color: $fontColorHighLight;
  width: 50%;
  box-sizing: border-box;
  padding-left: 5px;
  margin: 20px 0 5px;
  text-decoration: underline;
}

.timeFlexBox {
  font-size: 0.25em;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: center;
}

.timeFlexItem {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 25%;
}

.gridContainer {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto auto; /* Optional: Rows adjust automatically based on content */
  grid-gap: 10px; /* Optional: Gap between grid cells */
  justify-items: center;
  margin-bottom: 25px;
}

.gridItem {
  justify-content: center;
}

// body {
//   color: #cecece;
//   margin: 0;
//   padding: 0;

//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   background-color: #32343d;
// }
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

// .code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }

// .inputExtra {
//   width: 100%;
// }
